@font-face 
{
    font-family: 'droid_sansregular';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-image: url('../images/futuristic-texture.png');
    max-width: 1650px;
    margin:auto;
}

h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
    text-transform: uppercase;
}

h1, h1 + p
{
    text-align: center;
}    

img
{
    position: absolute;
    right : 20px;
    top: 20px;
    border: 2px solid grey;
    box-shadow: 2px 2px 2px black;
}

img:hover{
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

h2
{
    color: #6E4A46;
    text-align: center;
   
}

main {
    display: flex;
}

aside {
   width: 30%;
   margin:2%; 
}

aside p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.25rem ;
}
#container {
    display:flex;
    width: 60%;
    margin:2%; 
}

#job {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;    
}

#w3c {
    position: unset;
    display:none;
    box-shadow: none;
    border:0;
    width:88px;
    height:31px;
}

@media  all and (max-width: 1495px) {
    
    main {
        flex-direction: column-reverse;
        justify-content:center ;
    }

    aside {
        width:100%;
        margin:auto;
        text-align:center;
    }    

    #container {
        flex-direction: column;
        justify-content: space-between;
        width:100%;
        margin:auto;
    }
    img {
        position:unset;               
    }

    #w3c {
        display: block; 
        margin: auto;
    }   
   
}

@media all and (min-width: 600px) and (max-width: 1495px) {

    main {
        margin-left: 20%;
    }

    h2 {
        text-align:left;
    }
}

/* animation css */

/* ----------------------------------------------
 * Generated by Animista on 2021-9-30 16:23:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
